# Large model outputs - too big for GitHub
results/caravan_snow_global_scenario1/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# SLURM outputs
slurm_*.out
slurm_*.err

# Model checkpoints and large outputs
results/**/*.pt
results/**/*.p
results/**/optimizer_state_*
results/slurm_*.out
results/slurm_*.err
*.slurm
